snippet /doc
<?php
/**
 * ${1:Name of file}
 *
 * PHP Version 5
 *
 * @category Php
 * @package  ${2:Namespace}
 * @author   Timm Stelzer <timmstelzer@gmail.com>
 * @license  MIT https://opensource.org/licenses/MIT
 * @version  SVN: 0.1.0
 * @link     TODO
 */

namespace $2;
endsnippet
snippet /com
/**
 * $1
 *
 * @$0 
 */
endsnippet
snippet func
function $1($2)
{
	$0
}//end $1()
endsnippet
